.main-green {
    background-color: #5f8955 !important;
}

.main-green-text {
    color: #5f8955 !important;
}

.main-blue {
    background-color: #31708E !important;
}

.main-light-blue {
    background-color: #5085A5 !important;
}

.background-beige {
    background-color: #EAE7DC !important;
}

/* Start Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
/* End Sticky Footer */

/* Start Margins */
.ml-1 {
    margin-left: 1rem;
}
/* End Margins */

a.footerlink:hover {
    text-decoration: underline;
}

html {
    color: #333333;
}