.main-green {
    background-color: #5f8955 !important;
}

.main-green-text {
    color: #5f8955 !important;
}

.main-blue {
    background-color: #31708E !important;
}

.main-light-blue {
    background-color: #5085A5 !important;
}

.background-beige {
    background-color: #EAE7DC !important;
}

/* Start Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
/* End Sticky Footer */

/* Start Margins */
.ml-1 {
    margin-left: 1rem;
}
/* End Margins */

a.footerlink:hover {
    text-decoration: underline;
}

html {
    color: #333333;
}

/* Start homepage */
.homepage-background {
    background: url(../images/homepage_background.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.homepage-nav {
    background-color: rgba(0, 0, 0, 0.25) !important;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.homepage-form {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
}
/* End homepage */